#list_height{line-height: 40px;}
.red{color: red;}
.italic{font-style: italic;}
.brown{color: brown;}
.letter_spacing{letter-spacing: 5px;}
.highlighter{background-color: yellow;}
.underline{text-decoration: underline;}
.strike{text-decoration: line-through;}
.bold{font-weight: bold;}
.remove_a_styling{text-decoration: none;}